#Ignore arquivos temporarios e configuraçoes locais do VS
.vs/
*.vscode/
*.dbmdl
*.pdb

# Pastas de build
bin/
obj/

# Configuraçoes locais do VS
.us/
*.user
*.suo

# Outras Configuraçoes
*.cache
*.log.vs/
